@import "css/variables";
@import "button";

header {
  color: white;
  background-color: $lightGray;
  display: flex;
  align-self: center;
  padding: 1em;
  vertical-align: center;

  .logo {
    flex-grow: 1;
  }
}

nav {
  ul {
    li {
      list-style: none;
      display: inline-block;
    }
  }

  a {
    text-decoration: none;
    color : white;

    &:hover{
      color: white;
    }
  }
}

td {
  max-width: 30vw;
}

#cours {
  .form-group input[type="radio"] {
    display: none;
  }

  .form-group input[type="radio"] + .btn-group > label span {
    width: 20px;
  }

  .form-group input[type="radio"] + .btn-group > label span:first-child {
    display: none;
  }
  .form-group input[type="radio"] + .btn-group > label span:last-child {
    display: inline-block;
  }

  .form-group input[type="radio"]:checked + .btn-group > label span:first-child {
    display: inline-block;
  }
  .form-group input[type="radio"]:checked + .btn-group > label span:last-child {
    display: none;
  }
}

#events {
  min-height: 50vh;
}

